.contact-me-section {
  
    background-image: url('../public/backgroundimage.jpg'); 

position:relative;
top:420px;

    color: rgb(0, 0, 0);
    text-align: center;
  }
 
  .dowloadCv
  {
    position: absolute;
    background-color: red;
    right:0px;
    top:10px;
  }
  .downicons
  {
    position: relative;
    top:10px;
    left:0px;


  }
  .downicons p
  {
    position: relative;
    font-size: large;
    font-weight: lighter;
    font-size: 30px;
    color:rgba(122, 40, 40, 0.932);
    top:0px;
    left:0px;
  }

  .downicons .downloadCv
  {
    position: relative;
    top:110px;

  }
  .arrowRight{
    width: 100%; /* Make the photo responsive */
  max-width: 30px; /* Set a max width for the photo */
  margin-right:20px;
  position: relative;
  top:110px;
  }
  .contact-overlay {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .contact-subtitle {
    font-size: 1.2rem;
    margin-bottom: 3rem;
    color: #050505;
  }
  
  .contact-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    
  }

  .contact-grid  a{

    background-color: rgb(165, 165, 165);;
  }
  

  .contact-grid  h3
  {
    color:black;
  }
  .contact-card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 2rem;
    text-decoration: none;
    color: white;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .contact-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  }
  
  .contact-icon {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .contact-card h3 {
    margin: 0.5rem 0;
  }
  
  .contact-card p {
    margin: 0;
    font-size: 0.9rem;
    color: #000000;
  }


  
@media (max-width: 600px) {

  .contact-me-section
  {
    position: relative;
    top:800px;
    left:0px;
    height: 900px;
    width: 450px;
      }
  .contact-card
  {

    display: flex;
    flex-direction: row;
    width:200px;
    margin: 0px;
  }
  .contact-grid
  {
   align-items: center;
  }

  .contact-overlay{
    height: 200px;
  }
  .footer-text
  {
    position:relative;
    top:590px;
  }
  .contact-overlay p{
    text-align: center;
  }
  .contact-grid
  {
    align-items: center;
    margin-left:54px;
  }
  .contact-grid a
  {
    margin-left:23px;
    margin-bottom: 0px;
  }
}

.footer-text
{
  color:rgb(0, 0, 0);
}